	*{
		margin:0px;
		border:0px;
		box-sizing: border-box;

	}
	body{
		font-family: "lato",sans-serif;
		font-weight: 400;
		font-size: 16px; 
		line-height: 1.7;
		color:#777;
		/* padding: 30px; */
		
	}
	/* .header {
		height:100vh;
		background-image:linear-gradient(to left bottom,rgba(123, 163, 163, 0.8),rgba(137, 44, 74, 0.8)), url("img/blockchain1.jpeg");
		background-size:cover;
		background-position: top;
		position: relative;
		/* clip-path: polygon(0 0,100% 0,100% 100%,0 100%); */
	/* } */
	.logo-box{
		position: absolute;
		top: 40px;
		left: 40px;
	}
	.logo{
		height: 40px;
	}
	
	.text-box
	{
		position: absolute;
		color: #999;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%); 
		text-align: center;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
		padding: 50px;
		padding-left: 100px;
		
		
	}
	.logo-box2{
		/* display: inline-block; */
		position: absolute;
		top:60px;
		transform: translate(-50%,-50%);
		margin-left: 135px;
	}
	.logo2:visited{
		padding: 2px 2px;
		height: 50px;
		
	}
	/* .logo2:hover{ */
		/* transform: translateY(0px); */
		/* margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
		margin-left: 5px; */
		 /* width: 150px;
  border: 20px ; */
  /* padding: 5px; */
 /* margin: 50px;  */
		
		/* box-shadow: 0 5px 10px rgba(0,0,0,0.5); */
	/* } */
	.logo2:active{
		transform: translate(-1px;)
	}
	.logo2-white{
		/* background-color:rgba(0,0,0,0.2); */
		/* color:black; */
		/* z-index: 1;
		position:absolute;
		background:transparent;
		border:0;
		color:#000;
		font-size:20px;
		text-align:center;
		width:100%;
		top:20px;
		outline:none; */
	} 
	/* .logo2::after{
		content: "";
		display: inline-block;
		height: 50%;
		width: 50%;
		border-radius: 100px;
		position:absolute;
		top:0;
		left:0;
		z-index: -1;
		transition: all .4s
		 
	} */
	/* .logo2-white::after{
		background-color: #fff;
	}
	.logo2:hover::after{
		  transform: scaleX(1.4) scaleY(1.6);
		  opacity:0;
	}
	.logo2-animated{
		animation:  moveInBottom .5s ease-out;
	} */

	.heading-primary{
		color: #fff;
		text-transform: uppercase;
		backface-visibility: hidden;
		margin-top: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
}

	
	
	

	/* .heading-primary-main{
			display: block;
			font-size: 40px;
			font-family: 'Noto Serif', serif;
			font-weight: 400;
			letter-spacing: 25px; 
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			
	} */
	.heading-primary-main1{
		font-size: 22px;
		font-family: 'Noto Serif', serif;
		padding-right: 10px;
		letter-spacing: 2px;
		transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
		margin-left: 5px;
	}

	.heading-primary-sub{
		padding: 5px;
		background-color: rgba(0,0,0,0.2);
		padding: 10px;
		display: block;
		color:#fff;
		font-size: 20px;
		font-weight: 400;	
		letter-spacing: 2px;
		animation-name: moveInRight;
		animation-duration: 1s;
		border-radius: 100px;
		animation-timing-function: ease-out; 
		outline: none;
					}
		
	.heading-primary-sub:active,:focus{
		box-shadow: 0 0 5px rgba(231, 45, 45, 0.788);
	}

	@keyframes moveInLeft{
		0%{
		   opacity: 0;
		   transform: translateX(-100px);
		}
		80%{
           transform: translateX(20px);
		}
		100%{
		   opacity: 1;
		   transform: translate(0);
		}
	}
	@keyframes moveInRight{
		0%{
		   opacity: 0;
		   transform: translateX(100px);
		}
		80%{
           transform: translateX(-10px);
		}
		100%{
		   opacity: 1;
		   transform: translate(0);
		}
	}
	
	@keyframes moveInBottom{
		0%{
		   opacity: 0;
		   transform: translateX(30px);
		}
		
		100%{
		   opacity: 1;
		   transform: translate(0);
		}
	}
	@keyframes moveInAround{
		0%{
		   opacity: 0;
		   transform: translateX(30px);
		}
		
		100%{
		   opacity: 1;
		   transform: translate(0);
		}
	}

	.btn{
		background: linear-gradient(45deg, rgba(137, 44, 74, 0.8) 0%, rgba(123, 163, 163, 0.8) 100%);
		color:white;
		margin-right: 30px
	}

	.btn:link,
	.btn:visited{
          text-transform: uppercase;
          text-decoration: none;
           padding: 15px 40px;
        	display: inline-block;
          border-radius:100px; 
			transition: all .2s;
			position: relative;
	}
	.btn:hover{
		transform: translateY(-3px);
		box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	}
	.btn:active{
		transform: translateY(-1px;)
	}
	.btn-white{
		background-color: white;
		color:black;
		margin-right: 50px;
	
	}
	/* .btn::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position:absolute;
		top:0;
		left:0;
		z-index: -1;
		transition: all .4s
		 
	} */
	/* .btn-white::after{
		background-color: #fff;
	} */
	.btn:hover::after{
		  transform: scaleX(1.4) scaleY(1.6);
		  opacity:0;
	}
	/* .btn-animated{
		animation:  moveInBottom .5s ease-out;
	} */
	.navigation__checkbox {
		display: none; }
	  
	  .navigation__button {
		background-color: #fff;
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 6rem;
		right: 6rem;
		border-radius: 50%;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
		text-align: center;
		cursor: pointer; }
	  
	  .navigation__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient(#7ed56f, #28b485);
		z-index: 1000;
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
	  
	  .navigation__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		opacity: 0;
		width: 0;
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
	  
	  .navigation__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		text-align: center;
		width: 100%; }
	  
	  .navigation__item {
		margin: 1rem; }
	  
	  .navigation__link:link, .navigation__link:visited {
		display: inline-block;
		font-size: 3rem;
		font-weight: 300;
		padding: 1rem 2rem;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
		background-size: 220%;
		transition: all .4s; }
		.navigation__link:link span, .navigation__link:visited span {
		  margin-right: 1.5rem;
		  display: inline-block; }
	  
	  .navigation__link:hover, .navigation__link:active {
		background-position: 100%;
		color: #55c57a;
		transform: translateX(1rem); }
	  
	  .navigation__checkbox:checked ~ .navigation__background {
		transform: scale(50); }
	  
	  .navigation__checkbox:checked ~ .navigation__nav {
		opacity: 1;
		width: 100%; }
	  
	  .navigation__icon {
		position: relative;
		margin-top: 3.5rem; }
		.navigation__icon, .navigation__icon::before, .navigation__icon::after {
		  width: 3rem;
		  height: 2px;
		  background-color: #333;
		  display: inline-block; }
		.navigation__icon::before, .navigation__icon::after {
		  content: "";
		  position: absolute;
		  left: 0;
		  transition: all .2s; }
		.navigation__icon::before {
		  top: -.8rem; }
		.navigation__icon::after {
		  top: .8rem; }
	  
	  .navigation__button:hover .navigation__icon::before {
		top: -1rem; }
	  
	  .navigation__button:hover .navigation__icon::after {
		top: 1rem; }
	  
	  .navigation__checkbox:checked + .navigation__button .navigation__icon {
		background-color: transparent; }
	  
	  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
		top: 0;
		transform: rotate(135deg); }
	  
	  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
		top: 0;
		transform: rotate(-135deg)
	     }