body {
	background-image: linear-gradient(to left bottom, rgba(123, 163, 163, 0.8), rgba(137, 44, 74, 0.8)),
		url(img/blockchain1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* 
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center; */
}
hr {
	height: 1px;
	color: red;
	background-color: red;
	border: none;
}
