body {
	background-image: linear-gradient(to left bottom, rgba(123, 163, 163, 0.8), rgba(137, 44, 74, 0.8)),
		url(img/blockchain1.jpeg);

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	/* 
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center; */
}
hr {
	height: 1px;
	color: red;
	background-color: red;
	border: none;
}
.btn {
	background-image: linear-gradient(45deg, rgba(123, 163, 163, 0.8) 0%, rgba(137, 44, 74, 0.8) 100%);
	text-align: center;
}
.card {
	margin: 0 auto;
	float: right;
	margin-bottom: 10px;
	margin-top: 40px;
	margin-right: 40 px;
	margin-left: 50px;
	position: relative;
	height: 300px;
	left: 450px;
	top: 100px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.card:hover {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.836);
}
div.parentElement {
	text-align: center;
}
.idk {
	margin-right: 450px;
}
